<mat-sidenav-container class="layout">
  <mat-sidenav mode="side" [opened]="true" class="sidebar">
    <div class="logo">
      <mat-icon>apartment</mat-icon>
      <span>Building Management</span>
    </div>

    <mat-nav-list>
      <a mat-list-item routerLink="/tenant/dashboard" 
      routerLinkActive="active">
        <mat-icon matListItemIcon>dashboard</mat-icon>
        <span matListItemTitle>Dashboard</span>
      </a>

      <a mat-list-item routerLink="/tenant/join-building"
       *ngIf="!userState.hasJoinedBuilding"
        routerLinkActive="active">
        <mat-icon matListItemIcon>business</mat-icon>
        <span matListItemTitle>Join Building</span>
      </a>

      <a mat-list-item routerLink="/tenant/building-info" *ngIf="userState.hasJoinedBuilding" routerLinkActive="active">
        <mat-icon matListItemIcon>apartment</mat-icon>
        <span matListItemTitle>Building Info</span>
      </a>

<a
  mat-list-item
  [routerLink]="userState.hasJoinedBuilding ? '/tenant/announcements' : null"
  [class.disabled-link]="!userState.hasJoinedBuilding">

  <mat-icon matListItemIcon>campaign</mat-icon>
  <span matListItemTitle>Announcements</span>
</a>

<a
  mat-list-item
  [routerLink]="userState.hasJoinedBuilding ? '/tenant/resident-chat' : null"
  [class.disabled-link]="!userState.hasJoinedBuilding">

  <mat-icon matListItemIcon>chat</mat-icon>
  <span matListItemTitle>Chat</span>
</a>

<a
  mat-list-item
  [routerLink]="userState.hasJoinedBuilding ? '/tenant/help-share' : null"
  [class.disabled-link]="!userState.hasJoinedBuilding">

  <mat-icon matListItemIcon>share</mat-icon>
  <span matListItemTitle>Help & Share</span>
</a>

      <a mat-list-item routerLink="/tenant/settings" routerLinkActive="active">
        <mat-icon matListItemIcon>settings</mat-icon>
        <span matListItemTitle>Settings</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="topbar">
      <div>
        <h1>Dashboard</h1>
        <p>Welcome back, {{ userState.user.name }} 👋</p>
      </div>

      <span class="spacer"></span>

      <button mat-icon-button class="profile-btn">
        <img *ngIf="userState.user.photoUrl; else defaultIcon" [src]="userState.user.photoUrl" class="avatar"
          alt="User avatar" />

        <ng-template #defaultIcon>
          <mat-icon>account_circle</mat-icon>
        </ng-template>
      </button>

    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>