<mat-card *ngFor="let announcement of announcements$ | async" class="announcement-card">
    <mat-card-header>
        <mat-icon mat-card-avatar>{{ announcement.icon }}</mat-icon>

        <mat-card-title>{{ announcement.title }}</mat-card-title>

        <button *ngIf="authService.isManagerOrAdmin()" mat-icon-button color="warn" (click)="delete(announcement.id)"
            style="margin-left: auto;">
            <mat-icon>delete</mat-icon>
        </button>

        <mat-card-subtitle>
            {{ announcement.createdAt | date:'mediumDate' }}
        </mat-card-subtitle>
    </mat-card-header>

    <div class="image-container" *ngIf="announcement.images?.length">
        <img *ngFor="let img of announcement.images ?? []" [src]="img" alt="announcement image" />
    </div>

    <mat-card-content>
        <p>{{ announcement.message }}</p>

        <div class="category-badge" [ngClass]="announcement.category.toLowerCase()">
            {{ announcement.category }}
        </div>
    </mat-card-content>
</mat-card>